div#dealerStuff{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: blue; */
    gap: 30px;
}
div#playerStuff{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: blue; */
    gap: 30px;
}
div#buttonRow{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 25px;
    /* background-color: orange; */
}
div#gameState{
    display: flex;
    align-items: flex-end;
    /* background-color: plum; */
    color: white;
    justify-content: center;
}
div#cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h1{
    color: white;
    text-align: center;
}
body{
    display: flex;
    flex-direction: column;
    background-color: green;
}
button{
    height: 75px;
    width: 125px;
    color: black;
}
h1#title{
    font-size: 40px;
    font-weight: bold;
    color: black;
    font-family: fantasy;
}

